*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
   background: black;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/backgroundimage.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 0px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    /* height: 140px; */
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6ac5ec;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top 20px;
}
.header-text h1 span{
    color: rgb(199, 249, 106)
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(176, 194, 210);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:4px;
    background:rgb(183, 209, 54);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}
.tab-links.active-link::after{
    width: 40%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:rgb(183, 209, 54);
    font-size: auto;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/* -----------------profile----------------- */

#profile{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 40%;
    border-radius: 20px;
    display: block;
    transition: transform 0.2s;
}
.layer{
    /* width: 40%; */
    /* height: 100%; */
    width: auto;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(188, 112, 208));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    transition: height 0.2s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
    /* width: 40%; */
}


